# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/apps/frontend/.next/
/apps/backend/.next/
/apps/backend/dist/

# production
/build
/data/*.db
/data/*.db-shm
/data/*.db-wal
/data/email-attachments/
/apps/frontend/data/*.db
/apps/frontend/data/*.db-shm
/apps/frontend/data/*.db-wal
/apps/frontend/data/comunicado-pdfs/
/apps/frontend/data/email-attachments/
/apps/backend/data/*.db
/apps/backend/data/*.db-shm
/apps/backend/data/*.db-wal
/apps/backend/data/comunicado-pdfs/
/apps/backend/data/email-attachments/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
apps/frontend/next-env.d.ts
