AUTH_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=
DATA_DIR=./data
SUPERVISAO_EMAIL=supervisao@shopper.com.br
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
EMAIL_CRON_TOKEN=
FRONTEND_URL=http://localhost:3000
GOOGLE_DRIVE_FOLDER_MERCEARIA_PICKING=
GOOGLE_DRIVE_FOLDER_MERCEARIA_PACKING=
GOOGLE_DRIVE_FOLDER_MERCEARIA_RECEBIMENTO=
GOOGLE_DRIVE_FOLDER_MERCEARIA_REPOSICAO=
GOOGLE_DRIVE_FOLDER_MERCEARIA_EXPEDICAO=
GOOGLE_DRIVE_FOLDER_FRESH_RECEBIMENTO=
GOOGLE_DRIVE_FOLDER_FRESH_REPOSICAO=
GOOGLE_DRIVE_FOLDER_FRESH_FRACIONAMENTO=
GOOGLE_DRIVE_FOLDER_FRESH_EXPEDICAO=
GOOGLE_DRIVE_FOLDER_FRESH_PICKING_PACKING=
